<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emmanuelcorrales.polygongeofences">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name="com.emmanuelcorrales.polygongeofences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.emmanuelcorrales.polygongeofences.GeofenceEditorActivity"
            android:label="@string/title_activity_geofence_editor"
            android:parentActivityName="com.emmanuelcorrales.polygongeofences.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCIdcLUdnB-QIvFUzB_Oys11qr9SQ1lM7k" />

        <service
            android:name="com.emmanuelcorrales.polygongeofences.GeofenceTransitionIntentService"
            android:exported="false" />

        <service
            android:name="com.emmanuelcorrales.polygongeofences.LocationUpdateService"
            android:exported="false" />
    </application>

</manifest>